* {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.content {
    padding: 4% 10%;
}

.wrapper {
    width: auto;
    height: auto;
    font-family: serif;
}

header {
    display: flex;
    align-items: center;
    padding: 0 4%;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: large;
    padding: 0 24px;
    line-height: 64px;
    display: block;
}

nav li {
    display: inline-block;
}

nav a:hover {
    opacity: 0.6;
}

.now {
    text-decoration: underline;
}

.logo {
    height: 100px;
    float: left;
}
